/* Buttons */
.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.welcomeBox {
    display: block;
    // border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    width: 500px;
}
.answerBox {
    display: block;
    text-align: center;
}

.score {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}

.header {
    text-align: center;
    margin-top: 135px;
}
.icon {
    width: 100px; height: 100px;
}
.noDisplay {
    display: none;
}
.btn-1 {
    position: relative;
    background-color: antiquewhite;
    border: 0;
    height: 60px;
    width: 100px;

    img{
        position: absolute;
        margin: -30px 0 0 -50px;
        width: 100%;
        height: 100%;
    }
}
.btn-2 {
    position: relative;
    margin: 0 5px;
    background-color: lightcoral;
    border: 0;
    height: 60px;
    width: 100px;

    img{
        position: absolute;
        margin: -30px 0 0 -50px;
        width: 100%;
        height: 100%;
    }
}
.btn-3 {
    position: relative;
    background-color: lightblue;
    border: 0;
    height: 60px;
    width: 100px;

    img{
        position: absolute;
        margin: -30px 0 0 -50px;
        width: 100%;
        height: 100%;
    }
}